[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.4"
Pillow = "==8.0.1"
torch = "==1.7.0"
torchaudio = "==0.7.0"
torchvision = "==0.8.1"
gym = "*"
ipython = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
scipy = "*"
mdtraj = "*"
cython = "*"
box2d = "*"
box2d-py = "*"

[requires]
python_version = "3.6"
